/build/
*.swp
*.la
*.lo
*.o
.*.swp
.deps/
.dirstamp
.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/config/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/configure.scan
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/ntfs_linker
/stamp-h1
/test/test
/test-suite.log
/test/test.log
/test/test.trs
